<!-- Content Heading. Determine if Title exists, otherwise redirect to home -->
<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
<% } else { res.redirect('/'); } %>

<!-- Message block -->
<%- messages() %>

<!-- Error block -->
<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error=> { %>
            <li>
                <%= error.msg %>
            </li>
        <% }); %>
    </ul>
<% } %>

<!-- Login form -->
<div class="account-form">
    <form action="/account/login" method="post">
        <label for="loginEmail">Email</label>
        <input type="email" name="account_email" id="loginEmail" required value="<%= locals.account_email %>">
        <label for="loginPassword">Password</label>
        <input type="password" name="account_password" id="loginPassword" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
        <button type="submit">Login</button>
        <h2>No account? <a href="/account/register">Register</a></h2>
    </form>
</div>