<!-- Content Heading. Determine if Title exists, otherwise redirect to home -->
<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
<% } else { res.redirect('/'); } %>

<!-- Message block for future use -->
<%- messages() %>


<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error=> { %>
            <li>
                <%= error.msg %>
            </li>
        <% }); %>
    </ul>
<% } %>

<!-- Add Classification form -->
<div class="management-form">
    <form action="/management/add-class" method="post">
        <fieldset>
            <legend>Classification Name</legend>
            <label for="classificationName">*Name must be alphabetic characters only</label>
            <input type="text" id="classificationName" name="classification_name" required value="<%= locals.classification_name %>" pattern="^[a-zA-Z ]+$">
            <button type="submit">Add Classification</button>
        </fieldset>
    </form>
</div>