<!-- Content Heading. Determine if Title exists, otherwise redirect to home -->
<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
<% } else { res.redirect('/'); } %>

<!-- Message block for future use -->
<%- messages() %>


<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error=> { %>
            <li>
                <%= error.msg %>
            </li>
        <% }); %>
    </ul>
<% } %>

<!-- Add Classification form -->
<div class="account-form">
    <form action="/inv/add-class" method="post">
        <label for="classificationName"><strong>Classification Name</strong><br>*Name must be alphabetic characters only</label>
        <input type="text" id="classificationName" name="classification_name" required value="<%= locals.classification_name %>" pattern="^[a-zA-Z]+$">
        <button type="submit">Add Classification</button>
    </form>
</div>