<!-- Content Heading. Determine if Title exists, otherwise redirect to home -->
<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
<% } else { res.redirect('/'); } %>

<!-- Message block for future use -->
<%- messages() %>

<!-- Vehicle Management links -->
<div id="management-links">
    <a href="/inv/add-class" title="Add Classification">Add New Classification</a>
    <a href="/inv/add-vehicle" title="Add Vehicle">Add New Vehicle</a>
</div>